@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: "Figtree", sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* hazır kodlarım */

.full-page {
    width: 100%;
    min-height: 100vh;
    background-color: #F4D04E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box {
    width: 384px;
    height: 522px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 8px 8px 0 #000;
    padding: 23px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #000;
    > img {
        border-radius: 10px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    > h3 {
        font-size: 14px;
        background-color: #F4D04E;
        padding: 4px 12px;
        font-weight: 800;
        line-height: 150%;
        border-radius: 4px;
    }
    > h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
    }
    > h1 {
        font-weight: 800;
        font-size: 24px;
        height: 36px;
        display: flex;
        align-items: center;
    }
    > p {
        color: #6B6B6B;
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
    }
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
    > img {
        width: 32px;
        height: 32px;
    }
    > p {
        font-size: 14px;
        font-weight: 800;
    }
}

@media (width < 500px) {

    .main-box {
        width: 327px;
        height: auto;
        > img {
            height: 200px;
            object-fit: cover;
        }
    }
    
    .content {
        > h3 {
            font-size: 12px;
        }
        > h3 {
            font-size: 12px;
        }
        > h1 {
            font-size: 20px;
            height: 30px;
        }
        > p {
            font-size: 14px;
        }
    }

}